html, body {
    height: 100% ;  
    margin :0; 
}
body{
    display: flex;
    flex-direction: column;
}



#controls {
padding: 10px;
background-color: #f0f0f0;

}

#views{
    flex: 1; 
    display: flex;
    gap : 12px;
    padding: 12px;
    box-sizing: border-box;
}
/* View 1 = 60% */
.view:first-child {
    flex: 0 0 60%;
}

/* View 2 = 40% */
.view:last-child {
    flex: 0 0 40%;
}
.view {
    display: flex;
    flex-direction: column;
    min-width: 0; 
}
.view svg {
    width: 100% ;
    height: 100%;
    border : 1px solid #ccc;

}

.container{
  display: flex;
  gap: 16px;
  overflow-x: auto;   /* om det inte får plats: scroll istället för att hoppa ner */
  white-space: nowrap;
}

.container svg{
  flex: 0 0 auto;
  width: 700px;
  height: 600px;
  border: 1px solid #ccc;
}

.selected {
  stroke: purple;
  stroke-width: 3px;
  opacity: 1;
}

.selectedL {
  stroke: purple;
  stroke-width: 1px;
}

.dimmed {
  opacity: 0.2;
}
